node_modules/
**/node_modules/

.next/
**/.next/

dist/
**/dist/

.env
.env.*
# ...but the templates are meant to be committed.
!.env.example
!**/.env.example

*.log
# Redis snapshot dropped by a local redis-server
dump.rdb
